force-app/main/default/flows/JBSystemFlow_Notification_Log_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj09beacf36360f00945f2a456b02a9b73_FireJBTrigger</name>
        <label>SalesforceObj09beacf36360f00945f2a456b02a9b73_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Contact_Name__c&quot;,
  &quot;relationshipName&quot;: &quot;Contact_Name__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Notification_Log__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj09beacf36360f00945f2a456b02a9b73</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100025265</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact_Name__r&quot;,&quot;dePrefix&quot;:&quot;Notification_Log__c:Contact_Name__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Notification_Log__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Cell_Phone__c&quot;,&quot;Event_Name__c&quot;,&quot;isProcessed__c&quot;,&quot;Deliver_Now__c&quot;,&quot;Event_SubType__c&quot;,&quot;isInternalUser__c&quot;,&quot;Event_Date_Time__c&quot;,&quot;Equipment_Number__c&quot;,&quot;ENS_Notification_Id__c&quot;,&quot;Customer_Alert_Name__c&quot;,&quot;Mobile_Country_Code__c&quot;,&quot;Total_Cars_Impacted__c&quot;,&quot;Notification_Message__c&quot;,&quot;Overload_Cars_Detail__c&quot;,&quot;Location_Account_Number__c&quot;,&quot;Notification_SMS_Enabled__c&quot;,&quot;Notification_Push_Enabled__c&quot;,&quot;Notification_Email_Enabled__c&quot;,&quot;Notification_Email_Address__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj23a37961060edcd2b5e951968804245b_FireJBTrigger</name>
        <label>SalesforceObj23a37961060edcd2b5e951968804245b_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj09beacf36360f00945f2a456b02a9b73</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj09beacf36360f00945f2a456b02a9b73</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact_Name__c&quot;,&quot;relationshipName&quot;:&quot;Contact_Name__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Notification_Log__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj23a37961060edcd2b5e951968804245b</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100025265</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact_Name__r&quot;,&quot;dePrefix&quot;:&quot;Notification_Log__c:Contact_Name__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Notification_Log__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email__c&quot;,&quot;Cell_Phone__c&quot;,&quot;Event_Name__c&quot;,&quot;Deliver_Now__c&quot;,&quot;isProcessed__c&quot;,&quot;isInternalUser__c&quot;,&quot;Contact_Last_Name__c&quot;,&quot;Contact_First_Name__c&quot;,&quot;Total_Cars_to_Pull__c&quot;,&quot;ENS_Notification_Id__c&quot;,&quot;Train_Departed_Time__c&quot;,&quot;Total_Cars_to_Place__c&quot;,&quot;Mobile_Country_Code__c&quot;,&quot;Customer_Alert_Name__c&quot;,&quot;LS_Pull_Cars_Detail__c&quot;,&quot;LS_Place_Cars_Detail__c&quot;,&quot;Notification_Message__c&quot;,&quot;Contact_Display_Name__c&quot;,&quot;Est_Service_Window_To__c&quot;,&quot;Location_Account_Number__c&quot;,&quot;Est_Service_Window_From__c&quot;,&quot;Notification_SMS_Enabled__c&quot;,&quot;Notification_Push_Enabled__c&quot;,&quot;Notification_Email_Address__c&quot;,&quot;Notification_Email_Enabled__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj5cc77a24307fa386cf9f9da868079770_FireJBTrigger</name>
        <label>SalesforceObj5cc77a24307fa386cf9f9da868079770_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact_Name__c&quot;,&quot;relationshipName&quot;:&quot;Contact_Name__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Notification_Log__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj5cc77a24307fa386cf9f9da868079770</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100025265</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact_Name__r&quot;,&quot;dePrefix&quot;:&quot;Notification_Log__c:Contact_Name__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Notification_Log__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Cell_Phone__c&quot;,&quot;Location_City__c&quot;,&quot;Location_State__c&quot;,&quot;Empty_Indicator__c&quot;,&quot;Event_Date_Time__c&quot;,&quot;Equipment_Number__c&quot;,&quot;Location_ClassCode__c&quot;,&quot;ENS_Notification_Id__c&quot;,&quot;Customer_Alert_Name__c&quot;,&quot;Mobile_Country_Code__c&quot;,&quot;Notification_Message__c&quot;,&quot;Location_Account_Number__c&quot;,&quot;Notification_SMS_Enabled__c&quot;,&quot;Notification_Push_Enabled__c&quot;,&quot;Notification_Email_Address__c&quot;,&quot;Notification_Email_Enabled__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd_FireJBTrigger</name>
        <label>SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact_Name__c&quot;,&quot;relationshipName&quot;:&quot;Contact_Name__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Notification_Log__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100025265</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact_Name__r&quot;,&quot;dePrefix&quot;:&quot;Notification_Log__c:Contact_Name__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Notification_Log__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Cell_Phone__c&quot;,&quot;ETA_Car_Detail__c&quot;,&quot;Event_Date_Time__c&quot;,&quot;Equipment_Number__c&quot;,&quot;Customer_Alert_Name__c&quot;,&quot;ENS_Notification_Id__c&quot;,&quot;Mobile_Country_Code__c&quot;,&quot;Total_Cars_Impacted__c&quot;,&quot;Notification_Message__c&quot;,&quot;Location_Account_Number__c&quot;,&quot;Notification_SMS_Enabled__c&quot;,&quot;Notification_Push_Enabled__c&quot;,&quot;Notification_Email_Enabled__c&quot;,&quot;Notification_Email_Address__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj9c3461a4d5fa8f492e6b38861a00d391_FireJBTrigger</name>
        <label>SalesforceObj9c3461a4d5fa8f492e6b38861a00d391_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj23a37961060edcd2b5e951968804245b</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj23a37961060edcd2b5e951968804245b</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact_Name__c&quot;,&quot;relationshipName&quot;:&quot;Contact_Name__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Notification_Log__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj9c3461a4d5fa8f492e6b38861a00d391</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100025265</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact_Name__r&quot;,&quot;dePrefix&quot;:&quot;Notification_Log__c:Contact_Name__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Notification_Log__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Cell_Phone__c&quot;,&quot;Event_Name__c&quot;,&quot;Deliver_Now__c&quot;,&quot;isProcessed__c&quot;,&quot;isInternalUser__c&quot;,&quot;Contact_Last_Name__c&quot;,&quot;Contact_First_Name__c&quot;,&quot;Total_Cars_to_Pull__c&quot;,&quot;ENS_Notification_Id__c&quot;,&quot;Train_Departed_Time__c&quot;,&quot;Total_Cars_to_Place__c&quot;,&quot;Mobile_Country_Code__c&quot;,&quot;Customer_Alert_Name__c&quot;,&quot;LS_Pull_Cars_Detail__c&quot;,&quot;Notification_Message__c&quot;,&quot;Contact_Display_Name__c&quot;,&quot;LS_Place_Cars_Detail__c&quot;,&quot;Est_Service_Window_To__c&quot;,&quot;Est_Service_Window_From__c&quot;,&quot;Location_Account_Number__c&quot;,&quot;Notification_SMS_Enabled__c&quot;,&quot;Notification_Push_Enabled__c&quot;,&quot;Notification_Email_Enabled__c&quot;,&quot;Notification_Email_Address__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja9f53b240b3826d6ca0cfd411d09218a_FireJBTrigger</name>
        <label>SalesforceObja9f53b240b3826d6ca0cfd411d09218a_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj5cc77a24307fa386cf9f9da868079770</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj5cc77a24307fa386cf9f9da868079770</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact_Name__c&quot;,&quot;relationshipName&quot;:&quot;Contact_Name__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Notification_Log__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja9f53b240b3826d6ca0cfd411d09218a</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100025265</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact_Name__r&quot;,&quot;dePrefix&quot;:&quot;Notification_Log__c:Contact_Name__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Notification_Log__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Cell_Phone__c&quot;,&quot;Event_Name__c&quot;,&quot;Event_SubType__c&quot;,&quot;ETA_Car_Detail__c&quot;,&quot;Event_Date_Time__c&quot;,&quot;Equipment_Number__c&quot;,&quot;Customer_Alert_Name__c&quot;,&quot;Total_Cars_Impacted__c&quot;,&quot;Notification_Message__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e_FireJBTrigger</name>
        <label>SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9c3461a4d5fa8f492e6b38861a00d391</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9c3461a4d5fa8f492e6b38861a00d391</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact_Name__c&quot;,&quot;relationshipName&quot;:&quot;Contact_Name__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Notification_Log__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100025265</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact_Name__r&quot;,&quot;dePrefix&quot;:&quot;Notification_Log__c:Contact_Name__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Notification_Log__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Cell_Phone__c&quot;,&quot;Event_Name__c&quot;,&quot;Deliver_Now__c&quot;,&quot;isProcessed__c&quot;,&quot;Event_SubType__c&quot;,&quot;isInternalUser__c&quot;,&quot;Contact_Last_Name__c&quot;,&quot;Contact_First_Name__c&quot;,&quot;Total_Cars_to_Pull__c&quot;,&quot;Train_Departed_Time__c&quot;,&quot;ENS_Notification_Id__c&quot;,&quot;Total_Cars_to_Place__c&quot;,&quot;Customer_Alert_Name__c&quot;,&quot;LS_Pull_Cars_Detail__c&quot;,&quot;Mobile_Country_Code__c&quot;,&quot;Contact_Display_Name__c&quot;,&quot;Notification_Message__c&quot;,&quot;LS_Place_Cars_Detail__c&quot;,&quot;Est_Service_Window_To__c&quot;,&quot;Est_Service_Window_From__c&quot;,&quot;Location_Account_Number__c&quot;,&quot;Notification_SMS_Enabled__c&quot;,&quot;Notification_Push_Enabled__c&quot;,&quot;Notification_Email_Enabled__c&quot;,&quot;Notification_Email_Address__c&quot;,&quot;LS_PlacedCars_Updated_Detail__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj09beacf36360f00945f2a456b02a9b73</name>
        <label>JB_Decision_Null_Check_SalesforceObj09beacf36360f00945f2a456b02a9b73</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj09beacf36360f00945f2a456b02a9b73_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj09beacf36360f00945f2a456b02a9b73_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj09beacf36360f00945f2a456b02a9b73_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj09beacf36360f00945f2a456b02a9b73_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj09beacf36360f00945f2a456b02a9b73_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj23a37961060edcd2b5e951968804245b</name>
        <label>JB_Decision_Null_Check_SalesforceObj23a37961060edcd2b5e951968804245b</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj09beacf36360f00945f2a456b02a9b73</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj23a37961060edcd2b5e951968804245b_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj09beacf36360f00945f2a456b02a9b73</targetReference>
            </connector>
            <label>JB_SalesforceObj23a37961060edcd2b5e951968804245b_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj23a37961060edcd2b5e951968804245b_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj23a37961060edcd2b5e951968804245b_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj23a37961060edcd2b5e951968804245b_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj5cc77a24307fa386cf9f9da868079770</name>
        <label>JB_Decision_Null_Check_SalesforceObj5cc77a24307fa386cf9f9da868079770</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj5cc77a24307fa386cf9f9da868079770_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd</targetReference>
            </connector>
            <label>JB_SalesforceObj5cc77a24307fa386cf9f9da868079770_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj5cc77a24307fa386cf9f9da868079770_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj5cc77a24307fa386cf9f9da868079770_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj5cc77a24307fa386cf9f9da868079770_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd</name>
        <label>JB_Decision_Null_Check_SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e</targetReference>
            </connector>
            <label>JB_SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj9c3461a4d5fa8f492e6b38861a00d391</name>
        <label>JB_Decision_Null_Check_SalesforceObj9c3461a4d5fa8f492e6b38861a00d391</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj23a37961060edcd2b5e951968804245b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj9c3461a4d5fa8f492e6b38861a00d391_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj23a37961060edcd2b5e951968804245b</targetReference>
            </connector>
            <label>JB_SalesforceObj9c3461a4d5fa8f492e6b38861a00d391_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj9c3461a4d5fa8f492e6b38861a00d391_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9c3461a4d5fa8f492e6b38861a00d391_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj9c3461a4d5fa8f492e6b38861a00d391_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja9f53b240b3826d6ca0cfd411d09218a</name>
        <label>JB_Decision_Null_Check_SalesforceObja9f53b240b3826d6ca0cfd411d09218a</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj5cc77a24307fa386cf9f9da868079770</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja9f53b240b3826d6ca0cfd411d09218a_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj5cc77a24307fa386cf9f9da868079770</targetReference>
            </connector>
            <label>JB_SalesforceObja9f53b240b3826d6ca0cfd411d09218a_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja9f53b240b3826d6ca0cfd411d09218a_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja9f53b240b3826d6ca0cfd411d09218a_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja9f53b240b3826d6ca0cfd411d09218a_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e</name>
        <label>JB_Decision_Null_Check_SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9c3461a4d5fa8f492e6b38861a00d391</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj9c3461a4d5fa8f492e6b38861a00d391</targetReference>
            </connector>
            <label>JB_SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj09beacf36360f00945f2a456b02a9b73_Decision</name>
        <label>JB_SalesforceObj09beacf36360f00945f2a456b02a9b73_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj09beacf36360f00945f2a456b02a9b73</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  AND  (4 OR 5) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Deliver_Now__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.isInternalUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OVERLOAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Event_SubType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Event_SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RESOLVED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj09beacf36360f00945f2a456b02a9b73_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj09beacf36360f00945f2a456b02a9b73</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj23a37961060edcd2b5e951968804245b_Decision</name>
        <label>JB_SalesforceObj23a37961060edcd2b5e951968804245b_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj09beacf36360f00945f2a456b02a9b73</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj23a37961060edcd2b5e951968804245b</name>
            <conditionLogic>( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Deliver_Now__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.isInternalUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PLANNED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj23a37961060edcd2b5e951968804245b_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj23a37961060edcd2b5e951968804245b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj5cc77a24307fa386cf9f9da868079770_Decision</name>
        <label>JB_SalesforceObj5cc77a24307fa386cf9f9da868079770_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj5cc77a24307fa386cf9f9da868079770</name>
            <conditionLogic>( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Deliver_Now__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.isInternalUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOBILL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj5cc77a24307fa386cf9f9da868079770_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj5cc77a24307fa386cf9f9da868079770</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd_Decision</name>
        <label>JB_SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd</name>
            <conditionLogic>( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.isInternalUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Deliver_Now__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ETACHANGE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj61e7dfdb43c33c37fd07b102c82a41bd</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9c3461a4d5fa8f492e6b38861a00d391_Decision</name>
        <label>JB_SalesforceObj9c3461a4d5fa8f492e6b38861a00d391_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj23a37961060edcd2b5e951968804245b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj9c3461a4d5fa8f492e6b38861a00d391</name>
            <conditionLogic>( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Deliver_Now__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.isInternalUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SVC_ADVISORY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj9c3461a4d5fa8f492e6b38861a00d391_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj9c3461a4d5fa8f492e6b38861a00d391</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja9f53b240b3826d6ca0cfd411d09218a_Decision</name>
        <label>JB_SalesforceObja9f53b240b3826d6ca0cfd411d09218a_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj5cc77a24307fa386cf9f9da868079770</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja9f53b240b3826d6ca0cfd411d09218a</name>
            <conditionLogic>( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Deliver_Now__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Notification_SMS_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.isInternalUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja9f53b240b3826d6ca0cfd411d09218a_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja9f53b240b3826d6ca0cfd411d09218a</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e_Decision</name>
        <label>JB_SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9c3461a4d5fa8f492e6b38861a00d391</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e</name>
            <conditionLogic>( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Deliver_Now__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.isInternalUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IN_TRANSIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObje0071cc0ed65e87e3bf1e53b5e29547e</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Notification_Log_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObja9f53b240b3826d6ca0cfd411d09218a</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Log__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Log__c</objectType>
    </variables>
</Flow>
